<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>


    <form action="{% url 'update' key.id %}" method="POST">
     {% csrf_token %}
     name:<input type="text" value="{{key.username}} " name="name"><br><br>
     email:<input type="email" value="{{key.email}}" name="email"><br><br>
     phone_number:<input type="text" value="{{key.phone_number}} " name="phone_number"><br><br>
     Address:<input type="text" value="{{key.address}}" name="address"><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>