<!DOCTYPE html>
{% load static %}

<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files-->
<!-- //Custom Theme     files-->
<!-- web font-->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font-->
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

	<div class="main-w3layouts wrapper">
		<h1>Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
					{% csrf_token %}
					Book_name:
					<h3>{{form.name}}</h3></br>
					<h2 style="color:red">{{errors.name}}</h2>

					price:
					<h3>{{form.price}}</h3></br>
					<h2 style="color:red">{{errors.price}}</h2>

					creator_name:
					<h3>{{form.creator}}</h3></br>

					author_name:
					<h3>{{form.author}}</h3></br>

					<div class="links">
						back to home -->
              			<a href="{% url 'index' %}">Home</a>
            		</div>

					<input type="submit" value="Create">
				</form>
			</div>
		</div>
	</div>
</body>
</html>