<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{%static 'css/index.css'%}" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
            <a style="height:76px" href="{% url 'add-book' %}"><button class="button" style="--c: #373B44;--b: 5px;--s:12px">Add_Book</button></a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Creator</th>
            <th>Author</th>
            <th>DELETE</th>
            <th>UPDATE</th>
        </tr>
         {% for book in books %}
        <tr>
            <td>{{book.name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.creator}}</td>
            <td>
            {% for author in book.author.all %}
                {{author}}
            {% endfor %}
            </td>
            {% if book.creator == request.user or book.author == request.user%}
            <td> <a href="{% url 'deletebook' book.id %}"><button>Delete</button></a></td>
            <td> <a href="{% url 'updatebook' book.id %}"><button>Update</button></a></td>

            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{% url 'logout' %}"><button>Logout</button></a>
    </div>
</body>
</html>